html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* border: 1px solid red; */
}

/* .container {
  width: 100%;
  height: 100%;
  border: 1px solid pink;
  margin: 0px;
} */

.container {
  margin: 0 auto;
  /* width: 100em;
  height: 100em; */
}

a {
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  color: black;
}

.introTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vmin;
  padding: 5vmin;
}


.introTitleLogo {
  height: 40vmin;
}

.introLinks {
  display: flex;
  
  height: 55vmin;

}

.introLink {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introLink:hover {
  background-color: #e51b23;
}

/* @media screen and (max-width: 1025px) {

  .introLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60vmin;
  }
  .introLink {
    width: 100%;
    height: 85vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }

} */

@media screen and (max-width: 480px) {

  .introLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50vmin;
  }
  .introLink {
    width: 100%;
    height: 75vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/* :root {
    --container-bg-color: rgb(0, 0, 0);
    --left-bg-color: rgb(255, 0, 0);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(0, 0, 0, 0.644);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 55%;
    --other-width: 45%;
    --speed: 2000ms;
  }
  
  html, body {
    padding:0;
    margin:0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 3rem;
    color: #888888;
    position: absolute;
    left: 49%;
    top: 40%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-shadow: -2px 1px 0 rgb(54, 54, 54),
    2px 1px 0 rgb(54, 54, 54),
   2px -1px 0 rgb(97, 97, 97),
  -2px -1px 0 rgb(97, 97, 97);
  }

  .marketingIntroText {
    color: #000000;
    text-shadow: -2px 1px 0 rgb(82, 82, 82),
				  2px 1px 0 rgb(82, 82, 82),
				 2px -1px 0 rgb(131, 131, 131),
				-2px -1px 0 rgb(131, 131, 131);
    font-size: 3.5rem;
    top: 38%;
  }
  
  .button {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: -20vmin;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 10rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    
    position: absolute;
    left:0;
    background: url('./images/SBlogoSmall-black.png') center center no-repeat;
    background-size: cover;
    background-color: var(--left-bg-color);
    border-right:5px solid #a5a5a5;
    
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .split.right {
    position: absolute;
    right:0;
    background: url('./images/SBlogoSmall-new.png') center center no-repeat;
    background-size: cover;
    background-color: var(--right-bg-color);
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color); 
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  @media(max-width: 850px) {
    h1 {
      font-size: 2rem;
    }

    .marketingIntroText {
      font-size: 2.3rem;
      top: 38%;
    }

    .hotelIntroText {
      top: 39%;
    }

  }

  @media(max-width: 450px) {
    h1 {
      font-size: 2rem;
    }

    .marketingIntroText {
      font-size: 2.3rem;
      top: 43%;
    }

    .hotelIntroText {
      top: 44%;
    }

  }
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  } */